//iphone5
@media only screen and (max-width: 320px) {
    .img-type {
        width: 240px;
        height: 100%;
        margin-right: 20px;

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .img-type {
        width: 328px;
        height: 100%;
        margin-right: 20px;
        margin-bottom: 20px;

    }
}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .img-type {
        width: 325px;
        height: 100%;
        margin-right: 20px;

    }
}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .img-type {
        width: 405px;
        height: 100%;
        margin-right: 20px;
        padding-top: 20px;

    }
}

//desktop
@media only screen and (min-width: 1025px) {
    .img-type {
        width: 725px;
        height: 330px;
        padding-top: 20px;
        margin-right: 20px;

    }
}