//iphone5
@media only screen and (max-width: 320px) {
    .imgtype {
        width: 240px;
        height: 100%;
        margin-right: 20px;

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .imgtype {
        width: 295px;
        height: 100%;
        margin-right: 20px;

    }
}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .imgtype {
        width: 325px;
        height: 100%;
        margin-right: 20px;

    }
}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .imgtype {
        width: 310px;
        height: 100%;
        margin-right: 20px;

    }
}

//desktop
@media only screen and (min-width: 1025px) {
    .imgtype {
        width: 700px;
        height: 300px;
        margin-right: 20px;

    }
}