//mobile
@media only screen and (max-width: 739px) {
    .Listproduct {
        display: flex;
        justify-content: center;

    }

    .title-sp {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 30px 0 30px 0;
        font-family: 'Oswald', sans-serif;
        font-size: 10px;

    }

}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .Listproduct {
        display: flex;
        justify-content: center;

    }

    .title-sp {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 30px 0 30px 0;
        font-family: 'Oswald', sans-serif;
        font-size: 13px;

    }
}

//desktop
@media only screen and (min-width: 1025px) {
    .Listproduct {
        display: flex;
        justify-content: center;
    }

    .title-sp {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 30px 0 30px 0;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
    }

}