//iphone5
@media only screen and (max-width: 320px) {
    .size {
        padding-top: 20px;
    }

    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .detail-page {
        display: flex;
        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;
    }

    .buy-now {
        display: flex;
        text-align: center;
        align-items: center;
        padding-top: 20px;

    }

    .color-shoe-white {
        background: LavenderBlush;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }

    .color-shoe-black {
        background: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-gray {
        background: DarkSlateGray;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-lemon {
        background: LemonChiffon;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .slogan {
        display: flex;
        text-align: center;
        align-items: center;
        font-family: 'Jura';
        padding: 15px;

    }

    .colorbutton {

        margin-right: 5px;
        margin-top: 60px;
    }

    .size {
        padding-top: 35px;

    }

    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }

}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .detail-page {
        display: flex;
        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;
    }

    .buy-now {
        display: flex;
        padding-top: 20px;
    }

    .color-shoe-white {
        background: LavenderBlush;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }

    .color-shoe-black {
        background: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-gray {
        background: DarkSlateGray;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-lemon {
        background: LemonChiffon;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .slogan {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'Jura';
        padding: 10px;
    }

    .colorbutton {

        margin-right: 5px;
        margin-top: 30px;
    }

    .colorbutton {

        margin-right: 5px;
        margin-top: 30px;
    }

    .size {
        padding-top: 35px;

    }

    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }




}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .detail-page {
        display: flex;
        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;
    }

    .buy-now {
        display: flex;
        padding-top: 20px;
    }

    .color-shoe-white {
        background: LavenderBlush;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }

    .color-shoe-black {
        background: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-gray {
        background: DarkSlateGray;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .color-shoe-lemon {
        background: LemonChiffon;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 20px;

    }

    .slogan {
        display: flex;
        text-align: center;
        align-items: center;
        font-family: 'Jura';
        padding: 50px;
    }

    .colorbutton {

        margin-right: 5px;
        margin-top: 30px;
    }

    .size {
        padding-top: 35px;

    }

    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }



}

//desktop
@media only screen and (min-width: 1024px) {
    .detail-page {
        display: flex;
        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;
        
    }

    .buy-now {
        display: flex;
        padding-top: 20px;
    }


    .slogan {
        display: flex;
        text-align: center;
        align-items: center;
        font-family: 'Jura';
        padding: 50px;
    }

    .colorbutton {

        margin-right: 5px;
        margin-top: 30px;
        cursor: pointer;
        background-color: bisque;
        border: none;
    }



    .size {
        padding-top: 35px;

    }



    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }

}