//iphone5
@media only screen and (max-width: 320px) {
    .detaipagefixed {
        padding-top: 40px;
    }

    .size {
        padding-top: 20px;
    }

    .selectedcolor {
        border: 3px solid red;

    }

    .selectedsize {
        border: 3px solid red;

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .detaipagefixed {
        padding-top: 50px;
    }

    .detail-page {
        display: flex;
        padding-left: 5px;
        padding-left: 20px;
        padding-right: 20px;




        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;

        .buy-now {
            display: flex;
            text-align: center;
            align-items: center;
            padding-top: 20px;
            margin-left: -13px;


        }

        .slogan {
            display: flex;
            text-align: center;
            align-items: center;
            font-family: 'Oswald';
            padding: 15px;
            font-size: 18px;


        }

        .colorbutton {
            margin-right: 5px;
            margin-top: 60px;
        }

        .size {
            padding-top: 35px;

            .selectedsize {
                border: 3px solid red;
            }
        }

        .selectedcolor {
            border: 3px solid red;

        }
    }
}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .detaipagefixed {
        padding-top: 45px;
    }

    .detail-page {
        display: flex;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;

        .buy-now {
            display: flex;
            padding-top: 20px;
            margin-left: -10px;
        }

        .slogan {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-family: 'Oswald';
            padding: 10px;
            font-size: 15px;
        }

        .colorbutton {
            margin-right: 5px;
            margin-top: 30px;
        }

        .size {
            padding-top: 35px;

            .selectedsize {
                border: 3px solid red;
            }
        }

        .selectedcolor {
            border: 3px solid red;
        }
    }
}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .detaipagefixed {
        padding-top: 60px;
    }

    .detail-page {
        display: flex;
        color: black;
        padding-left: 5px;


        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;

        .buy-now {
            display: flex;
            padding-top: 20px;
        }

        .slogan {
            display: flex;
            text-align: center;
            align-items: center;
            font-family: 'Oswald';
            padding: 50px;
        }

        .colorbutton {

            margin-right: 5px;
            margin-top: 30px;
        }

        .size {
            padding-top: 35px;

            .selectedsize {
                border: 3px solid red;
            }
        }

        .selectedcolor {
            border: 3px solid red;
        }
    }
}

//desktop
@media only screen and (min-width: 1024px) {
    .detaipagefixed {
        padding-top: 80px;
    }

    .breadcrum {
        font-size: 20px;


    }

    .detail-page {
        display: flex;
        padding-left: 5px;

        color: black;
        background-color: white;
        font-family: 'MuliDisplayVN', sans-serif;

        .buy-now {
            display: flex;
            padding-top: 20px;
        }

        .slogan {
            display: flex;
            text-align: center;
            align-items: center;
            font-family: 'Oswald';
            font-size: 22px;
            padding: 40px;
        }

        .colorbutton {
            margin-right: 5px;
            margin-top: 30px;
            cursor: pointer;
            background-color: bisque;
            border: none;
        }

        .size {
            padding-top: 35px;

            .selectedsize {
                border: 3px solid red;
            }
        }

        .selectedcolor {
            border: 3px solid red;

        }

        .notselectedcolor {
            border: 'none';
        }

        .notselectedsize {
            border: 'none';

        }
    }
}