//iphone5
@media only screen and (max-width: 320px) {
    .detail-jordan {
        background-color: white;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;


        .imgjordan {
            width: 250px;
            height: 100%;

        }
    }


}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .detail-jordan {
        background-color: white;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;

        .imgjordan {
            width: 300px;
            height: 100%;

        }
    }

}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .detail-jordan {
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;


        .imgjordan {
            width: 300px;
            height: 100%;

        }
    }


}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .detail-jordan {
        background-color: white;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;


        .imgjordan {
            width: 400px;
            height: 100%;

        }
    }

}

//desktop
@media only screen and (min-width: 1025px) {
    .detail-jordan {
        background-color: white;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;


        .imgjordan {
            width: 500px;
            height: 100%;

        }
    }


}