//mobile
@media only screen and (max-width: 739px) {
    .Listproduct {
        display: flex;
        text-align: center;
        align-items: center;

    }

    .item-sale {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 50px 0 50px 0;
        font-family: 'Jura', sans-serif;
    }

}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .Listproduct {
        display: flex;
        text-align: center;
        align-items: center;

    }

    .item-sale {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 50px 0 50px 0;
        font-family: 'Jura', sans-serif;
    }
}

//desktop
@media only screen and (min-width: 1024px) {
    .Listproduct {
        display: flex;
        text-align: center;
        align-items: center;

    }

    .item-sale {
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        padding: 50px 0 50px 0;
        font-family: 'Jura', sans-serif;
    }

}