.root-cart-header {
    display: flex;
    color: black;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.root-cart {
    display: flex;
    color: black;
    align-items: center;
    text-align: center;
}