.each-slide-effect {
  display: flex;

  height: 580px;
  width: 100%;



}

@media only screen and (max-width: 412px) {
  .each-slide-effect {
    display: flex;

    height: 150px;
    width: 100%;



  }


}

// @media only screen and (max-width: 744px) {
//   .each-slide-effect {
//     display: flex;

//     height: 300px;
//     width: 100%;



//   }
// }