//mobile
@media only screen and (max-width: 739px) {
  .each-slide-effect {
    display: flex;
    height: 160px;
    width: 100%;

  }

}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .each-slide-effect {
    display: flex;
    height: 400px;
    width: 100%;
  }

}

//desktop
@media only screen and (min-width: 1024px) {
  .each-slide-effect {
    display: flex;
    height: 600px;
    width: 100%;
    animation: zoom-in 5s infinite
  }

}

@keyframes zoom-in {
  0% {
    transform: scale(1.00);
  }

  30% {
    transform: scale(1.01);
  }

  60% {
    transform: scale(1.015);
  }

  100% {
    transform: scale(1.02);
  }


}