.overview {
    display: flex;
    justify-content: center;

    .danh-muc {

        background-color: white;
        padding: 15px;
    }

    .product {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        background-color: white;



    }

}