//iphone5
@media only screen and (max-width: 320px) {
    .img-list {
        width: 330px;
        height: 330px;
        margin-bottom: 150px;

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .img-list {
        width: 360px;
        height: 360px;
        margin-bottom: 150px;
    }
}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .img-list {
        width: 412px;
        height: 412px;
        margin-bottom: 150px;

    }
}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .img-list {
        width: 568px;
        height: 568px;
        margin-bottom: 150px;


    }
}

//desktop
@media only screen and (min-width: 1025px) {
    .img-list {
        width: 768px;
        height: 768px;

    }
}