//iphone5
@media only screen and (max-width: 320px) {
    .fullbox {
        // background-color: #3d3d3d;
        align-items: center;
        text-align: center;

        :hover {
            transform: translate(0%, -5%);
            transition: 0.5s;
        }



        .img {
            width: 112px;
            height: 112px;
        }

        .detail-item {
            font-size: 10px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;
        }

    }
}

//mobile
@media only screen and (min-width: 321px) and (max-width: 376px) {
    .fullbox {
        // background-color: #3d3d3d;
        align-items: center;
        text-align: center;

        :hover {
            transform: translate(0%, -5%);
            transition: 0.5s;
        }



        .img {
            width: 140px;
            height: 140px;
            // animation: mymove1 cubic-bezier(0.23, 1, 0.32, 1);
            // position: relative;
            // animation-fill-mode: forwards;
            // animation-duration: 1s;
            // transition: 0.3s;

        }

        .detail-item {
            font-size: 15px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;
        }

    }

    .fade-in {
        height: 220px;
    }

}

//pho thong
@media only screen and (min-width: 376px) and (max-width: 739px) {
    .fullbox {
        // background-color: #3d3d3d;
        align-items: center;
        text-align: center;

        :hover {
            transform: translate(0%, -5%);
            transition: 0.5s;
        }



        .img {
            width: 160px;
            height: 160px;
            animation: mymove1 cubic-bezier(0.23, 1, 0.32, 1);
            position: relative;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            transition: 0.3s;

        }

        .detail-item {
            font-size: 15px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;
        }

    }

    .fade-in {
        height: 280px;
    }

}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .fullbox {
        // background-color: #3d3d3d;
        align-items: center;
        text-align: center;

        :hover * {
            transform: translate(0%, -5%);
            transition: 0.5s;
        }



        .img {
            width: 290px;
            height: 290px;
            animation: mymove1 cubic-bezier(0.23, 1, 0.32, 1);
            position: relative;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            transition: 0.3s;

        }

        .detail-item {
            font-size: 17px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;
        }

    }
}

//desktop
@media only screen and (min-width: 1025px) and (max-width: 1396px) {
    .fullbox {
        // background-color: #3d3d3d;     
        align-items: center;
        text-align: center;


        :hover * {
            transform: translate(0%, -5%);
            transition: 0.5s;
        }




        .img {
            width: 340px;
            height: 340px;
            animation: mymove cubic-bezier(0.23, 1, 0.32, 1);
            position: relative;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            transition: 0.3s;


        }

        .detail-item {
            font-size: 17px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;
        }

    }
}

@media only screen and (min-width: 1396px) {
    .fullbox {
        background-color: #3d3d3d;
        // animation: mymove cubic-bezier(0.23, 1, 0.32, 1);
        align-items: center;
        text-align: center;






        :hover * {
            transform: translate(0%, -5%);
        }




        .img {
            width: 300px;
            height: 300px;
            animation: mymove cubic-bezier(0.23, 1, 0.32, 1);
            position: relative;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            transition: 0.3s;



        }

        .detail-item {
            font-size: 17px;
            color: white;
            font-family: 'Jura', sans-serif;
            text-align: center;
            align-items: center;

        }


    }




}

@keyframes mymove {
    from {
        top: 200px;
    }

    to {
        top: 20px;
    }
}

@keyframes mymove1 {
    from {
        top: 200px;
    }

    to {
        top: 5px;
    }
}